################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Challenge1/.vs/Challenge1/v15/Server/sqlite3/db.lock
/Challenge 2/.vs/Challenge 2/v15/Server/sqlite3/db.lock
/Challenge 3/.vs/Challenge 3/v15/Server/sqlite3/db.lock
/Challenge 4/.vs/Challenge 4/v15/Server/sqlite3/db.lock
/Challenge 5 Fizzbuzz/.vs/Challenge 5 Fizzbuzz/v15/Server/sqlite3/db.lock
/X's and O's/.vs/X's and O's/v15/Server/sqlite3/db.lock
/doubler/.vs/doubler/v15/Server/sqlite3/db.lock
/RentalCarCost/.vs/RentalCarCost/v15/Server/sqlite3/db.lock
